<div class="form-container">  
  <form name="TradeCapture" ng-submit="submitForm(TradeCapture.$valid)" novalidate>
    <mat-form-field appearance="standard">
      <mat-label>Party 1 (US)</mat-label>
      <input matInput name="Party1" [formControl]="Party1" ng-model="Party1" required>
      <mat-error *ngIf="Party1.invalid">Required</mat-error>
    </mat-form-field>

    <br/>
    <mat-form-field appearance="standard">
      <mat-label>Party 2 (Them)</mat-label>
      <input matInput name="Party2" [formControl]="Party2" ng-model="Party2" required>
      <mat-error *ngIf="Party2.invalid">Required</mat-error>
    </mat-form-field>
    <br/>

    <mat-form-field>
      <input matInput [matDatepicker]="picker1" placeholder="Trade Date" name="TradeDate" [formControl]="TradeDate" ng-model="TradeDate" required>
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
      <mat-error *ngIf="TradeDate.invalid">Required</mat-error>
    </mat-form-field>
    <br/>

    <mat-form-field>
      <input matInput [matDatepicker]="picker2" placeholder="Start Date" name="StartDate" [formControl]="StartDate" ng-model="StartDate" required>
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
      <mat-error *ngIf="StartDate.invalid">Required</mat-error>
    </mat-form-field>
    <br/>    
    
    <mat-form-field>
      <input matInput [matDatepicker]="picker3" placeholder="Maturity Date" name="MaturityDate" [formControl]="MaturityDate" ng-model="MaturityDate" required>
      <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
      <mat-datepicker #picker3></mat-datepicker>
      <mat-error *ngIf="MaturityDate.invalid">Required</mat-error>
    </mat-form-field>
    <br/>
    
    <mat-form-field>
      <mat-label>Currency</mat-label>
      <select matNativeControl required>
        <option value="EUR">EUR</option>
        <option value="USD">USD</option>
        <option value="GBP">GBP</option>
      </select>
    </mat-form-field>
    <br/>
    
    <mat-form-field>
      <input matInput placeholder="Nominal" type="number" name="Nominal" [formControl]="Nominal" ng-model="Nominal" required >
      <span matSuffix>.00</span>
      <mat-error *ngIf="Nominal.invalid">Required</mat-error>
    </mat-form-field>
    <br/>
    
    <mat-form-field>
      <input matInput placeholder="Rate" type="number" name="Rate" [formControl]="Rate" ng-model="Rate" required >
      <span matSuffix>%</span>
      <mat-error *ngIf="Party2.Rate">Required</mat-error>
    </mat-form-field>
    <br/>
    
    <mat-form-field>
      <mat-label>Day Count</mat-label>
      <select matNativeControl required>
        <option value="ACT/360">ACT/360</option>
        <option value="30/360">30/360</option>
        <option value="ACT/ACT">ACT/ACT</option>
        <option value="ACT/365">ACT/365</option>
      </select>
    </mat-form-field>
    
    <br/>
    <div class="button-row">
      <button mat-flat-button color="primary">Save</button>
    </div>
  </form>
</div>